header {
  grid-area: header;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}
#logo {
  grid-area: logo;
}
#navBar {
  grid-area: navBar;
  align-items: center;
  justify-content: center;
}
#navBar ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
form {
  grid-area: form;
}
#mainLeft {
  grid-area: mainLeft;
}
#mainRight {
  grid-area: mainRight;
}
h1 {
  grid-area: h1;
  align-self: center;
  justify-self: center;
}
#fullNameLabel {
  grid-area: nameLabel;
}
#fullName {
  grid-area: fullName;
}
#levelLabel {
  grid-area: levelLabel;
}
#levelInput {
  grid-area: level;
}
#raceLabel {
  grid-area: raceLabel;
}
#raceSelect {
  grid-area: race;
}
#classLabel {
  grid-area: classLabel;
}
#classSelect {
  grid-area: classSelect;
}
#skillLabel {
  grid-area: skillLabel;
}
#skillSelectFirst {
  grid-area: skillSelectFirst;
}
#skillSelectSecond {
  grid-area: skillSelectSecond;
}
#nameDiv {
  grid-area: nameDiv;
}
#levelDiv {
  grid-area: levelDiv;
}
#raceDiv {
  grid-area: raceDiv;
}
#classDiv {
  grid-area: classDiv;
}
#skillsDiv {
  grid-area: skillsDiv;
}
#abilityDiv {
  grid-area: abilityDiv;
}
#alignmentDiv {
  grid-area: alignmentDiv;
}
#backgroundDiv {
  grid-area: backgroundDiv;
}
#abilityScoreHeading {
  grid-area: abilityHeading;
}
fieldset {
  grid-area: asField;
}
#statButton {
  grid-area: statButton;
}
#abilityScoreOutput {
  grid-area: asPoints;
}
#submitButton {
  grid-area: charSubmit;
  width: 200px;
  height: 50px;
  align-self: center;
  justify-self: center;
}
#strength {
  grid-area: strAS;
}
#dexterity {
  grid-area: dexAS;
}
#constitution {
  grid-area: conAS;
}
#intelligence {
  grid-area: intAS;
}
#wisdom {
  grid-area: widAS;
}
#charisma {
  grid-area: chaAS;
}
#strASLabel {
  grid-area: strASLabel;
}
#abilityScoreDiv {
  grid-area: abilityScoreDiv;
}
#strASButton {
  grid-area: strASButton;
}
#dexASLabel {
  grid-area: dexASLabel;
}
#dexASButton {
  grid-area: dexASButton;
}
#strengthNumber {
  grid-area: strengthNumber;
  width: 30px;
}
#dexterityNumber {
  grid-area: dexterityNumber;
  width: 30px;
}
#constitutionNumber {
  width: 30px;
}
#intelligenceNumber {
  width: 30px;
}
#wisdomNumber {
  width: 30px;
}
#charismaNumber {
  width: 30px;
}


body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .25fr 2fr 1fr;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}


header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr .25fr;
  grid-template-areas:
    ". . ."
    "logo . navBar";
  border: 1px solid black;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .125fr 1fr .125fr;
  grid-template-areas:
    ". h1 ."
    "form form form"
    ". charSubmit .";
}
form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "mainLeft mainRight"
    "charSubmit charSubmit";
  margin-left: 50px;
  margin-right: 50px;
}
#mainLeft {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "nameDiv nameDiv nameDiv"
    "levelDiv levelDiv levelDiv"
    "raceDiv raceDiv raceDiv"
    "classDiv classDiv classDiv"
    "skillsDiv skillsDiv skillsDiv"
    "abilityDiv abilityDiv abilityDiv"
    "backgroundDiv backgroundDiv backgroundDiv"
    "alignmentDiv alignmentDiv alignmentDiv";
  border: 5px solid black;
  padding: 10px;
  margin-right: 5px;

}
#mainRight {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .25fr 1fr;
  grid-template-areas: 
    "abilityHeading"
    "asField";
  border: 5px solid black;
  padding: 10px;
  margin-left: 5px;
}
#abilityScoreDiv {
  display: flex;
  flex-direction: row;
}
#strength {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
#dexterity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
#constitution {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
#intelligence {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
#wisdom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
#charisma {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
.abilityInputs {
  margin-top: 10px;
}
.abilityButtons button {
  margin: 10px 2.5px 10px 2.5px;
}









/* body {
  width: 960px;
  margin: 10% auto;
  padding: 10% auto;
}

header {
  background-color:grey;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
}


#navbar {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

#ul {
  align-items: center;
  display: flex;
  justify-content: center;
}

li {
  display: inline;
  padding: 5px;
  margin: 10px 10px 10px 10px
}

#form {
  padding: 0px;
  margin: 30px;
  width: 1
}

#raceDiv {
  padding: 20px 0px 20px 0px;
}

#skillsDiv {
  padding: 20px 0px 20px 0px;
}

#abilitiesDiv {
  padding: 0px 0px 20px 0px;
}

#alignmentDiv {
  padding: 0px 0px 20px 0px;
}

#strengthNumber {
  border: solid 1px black;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  text-align: center;
  line-height: 60px;
}
    
#dexterityNumber {
  border: solid 1px black;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  text-align: center;
  line-height: 60px;
}

#constitutionNumber {
  border: solid 1px black;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  text-align: center;
  line-height: 60px;
}

#intelligenceNumber {
  border: solid 1px black;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  text-align: center;
  line-height: 60px;
}

#wisdomNumber {
  border: solid 1px black;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  text-align: center;
  line-height: 60px;
}

#charismaNumber {
  border: solid 1px black;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  text-align: center;
  line-height: 60px;
} */