body {
  background-color: grey;
  margin: 0px;
}
#navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color: white;
}
.navLinks {
  display: flex;
  flex-direction: row;
  margin: 30px;
  background
}
.navItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 40px 0px 40px;
}

body{
  width: 90%;
  margin: 5% auto;

  font-family: 'Alegreya SC', serif;
  background-color: darkslategray;
}
header {
  background-color:grey;
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
}
#navbar {
  display: flex;
  align-items: flex-start;
  align-items: center;
}
#ul {
  align-items: center;
  display: flex;
  justify-content: center;
}
li {
  display: inline;
  padding: 5px;
  margin: 10px 10px 10px 10px
}
h1{
  color: oldlace;
  font-size: 30px;
  font-weight: 700;
}
.grid-container {
display: grid;
grid-gap: 50px 50px;
grid-template-columns: repeat(3, 1fr);
background-color:darkred;
padding: 50px;
}
.grid-item {
background-color: white;
border: 1px solid rgba(0, 0, 0, 0.8);
font-size: 30px;
text-align: center;
height: 340px;
}
img{
  max-height: 200px;
  width: auto;
}

